<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NCC A/B/C Certificate Exam Admit Card</title>
  <style>
    @page {
      size: A4;
      margin: 20px;
    }

    body {
      font-family: Arial, sans-serif;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 2px;
      word-spacing: 5px;
    }

    h1 {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
      letter-spacing: 3px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 5px 10px;
      border: 1px solid #ddd;
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .date-box {
      display: inline-block;
      border: 1px solid #ddd;
      padding: 3px;
      margin: 0 5px;
      text-align: center;
      width: 30px;
      height: 30px;
      min-height: 20px;
    }

    .empty-date {
      visibility: hidden;
    }

    .two-column:after {
      content: "";
      display: table;
      clear: both;
    }

    .left-column {
      width: 60%;
      float: left;
    }

    .right-column {
      width: 30%;
      float: right;
    }

    .custom-table {
      width: 100%;
    }

    .custom-table th, .custom-table td {
      padding: 5px 10px;
      border: 1px solid #ddd;
    }

    .custom-table .center {
      text-align: center;
    }

    .custom-table .date-box {
      border: 1px solid #ddd;
      padding: 3px;
      margin: 0 5px;
      text-align: center;
      width: 30px;
    }
  </style>
</head>
<body>
  <h1>Appendix AC (Refers to Para 30 of SNCCO 2024)</h1>
  <h1>ADMIT CARD: NCC A/B/C CERTIFICATE EXAM</h1>

  <div class="two-column">
    <div class="left-column">
     <table border="0" class="custom-table">
      <tr>
        <td>1. Unit :</td>
        <td> 2 KAR ENGR COY NCC NITK</td>
      </tr>
      <tr>
        <td>2. (Attach extension paper, if applicable):</td>
        <td>__________________________________________________________________________</td>
      </tr>
      <tr>
        <td class="wide-column">3. Regimental No:</td>
        <td style="width: 20%;"><%= row[1] %></td>
      </tr>
      <tr>
        <td class="wide-column">4. Rank:</td>
        <td style="width: 20%;"><%= row[2] %></td>
      </tr>
      <tr>
        <td class="wide-column">5. Name in English (Capital letters):<br> (As per High School Certificate) </td>
        <td style="width: 20%;"><%= row[3] %></td>
      </tr>
     </table>
    </div>

    <div class="right-column">
      <center>
      <%= image_tag wicked_pdf_asset_base64("admit_card_image.png"), style: "height: 300px;"%>
      </center>
    </div>
  </div>


<table border="0" class="custom-table">
    <tr>
      <td>6. Date of Birth:</td>
      <td>
        <% date_of_birth = row[6].to_s.split('/') %>
        <span class="date-box"><%= date_of_birth[0]&.[](0) %></span>
        <span class="date-box"><%= date_of_birth[0]&.[](1) %></span>
        <span class="date-box" style="border:0px;"></span>
        <span class="date-box"><%= date_of_birth[1]&.[](0) %></span>
        <span class="date-box"><%= date_of_birth[1]&.[](1) %></span>
        <span class="date-box" style="border:0px;"></span>

        <span class="date-box"><%= date_of_birth[2]&.[](0) %></span>
        <span class="date-box"><%= date_of_birth[2]&.[](1) %></span>
        <span class="date-box"><%= date_of_birth[2]&.[](2) %></span>
        <span class="date-box"><%= date_of_birth[2]&.[](3) %></span>
        <span class="date-box" style="border:0px;"></span>
      </td>
    </tr>
    <tr>
      <td>7. Father's Name:        (As per High School Certificate):</td>
      <td><%= row[5] %></td>
    </tr>
    <tr>
      <td>8. School/College & Class in which studying:</td>
      <td><%= row[4] %></td>
    </tr>
    <tr>
      <td>9. Year of passing Cert B if applicable: <br> (Attach photocopy of B Certificate) </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>10. Whether Fresh/Failure: <br> (If Failure, details of previous B Certificate exam) </td>
      <td>Fresh</td>
    </tr>
  <table class="custom-table">
  <tr>
    <td colspan="2">11. Attendance in parade</td>
    <td class="center" style="width: 22%;">1st Yr</td>
    <td class="center" style="width: 22%;">2nd Yr</td>
    <td class="center" style="width: 22%;">Total</td>
  </tr>
  <tr>
    <td style="border-right:0px;">
        <span style=""></span>
    </td>
    <td style="border-left:0px;">
    </td>
    <td>
      <% if row[20].present? &&  row[20] == 100 %>
      <span class="date-box">1</span>
      <span class="date-box">0</span>
      <span class="date-box">0</span>
      <span class="date-box">%</span>
      <% elsif row[20].present? %>
        <span class="date-box"><%= (row[20]/10).to_i %></span>
        <span class="date-box"><%= (row[20]%10).to_i %></span>
        <span class="date-box">%</span>
      <% else %>
      <span class="date-box">&nbsp;</span>
      <span class="date-box">&nbsp;</span>
      <span class="date-box">%</span>
      <% end %>
    </td>
    <td>
      <% if row[20].present? &&  row[20] == 100 %>
      <span class="date-box">1</span>
      <span class="date-box">0</span>
      <span class="date-box">0</span>
      <span class="date-box">%</span>
      <% elsif row[20].present? %>
        <span class="date-box"><%= (row[20]/10).to_i %></span>
        <span class="date-box"><%= (row[20]%10).to_i %></span>
        <span class="date-box">%</span>
      <% else %>
      <span class="date-box">&nbsp;</span>
      <span class="date-box">&nbsp;</span>
      <span class="date-box">%</span>
      <% end %>
    </td>
    <td>
        <span class="date-box">&nbsp;</span>
        <span class="date-box">&nbsp;</span>
        <span class="date-box">&nbsp;</span>
    </td>
  </tr>
</table>

  <table class="custom-table">
    <tr>
      <td colspan="2">12. Detail or camps attended (Attach photocopy of camp No/Name of camp Attended Date/Month/Yr Location (a) (b)</td>
      <td style="width: 20%;" class="camp-details-row">Camp Details 1</td>
      <td style="width: 20%;" class="camp-details-row"><%= row[11] %></td>
      <td style="width: 20%;" class="camp-details-row"><%= row[12] %></td>
      <td style="width: 20%;" class="camp-details-row"><%= row[13] %></td>
    </tr>
  </table>
  <table border="0">
    <tr>
      <td>13. Home/Institution Address for postal dispatch of Certificate:</td>
      <td>NH 66, Srinivasnagar, Surathkal, Mangalore, Karnataka - 575 025</td>
    </tr>
  </table>

<hr color="grey">

<h2><b>Note :</b></h2>
<p size="20px">1. Cadets must check particulars carefully and correction if any, be brought to the notice of OC immediately <br>
2. This card will be submitted along with nominal roll for approval of Gp HQ after the attestation of photo by OC and
signatures of all concerned. <br>
3. Cadet must be in possession of this card on the day of the exam. <br></p>

<table>
  <tr>
    <td class="center">Signature of Cadet</td>
    <td class="center">Signature of ANO</td>
    <td class="center">Signature of OC</td>
  </tr>
  <tr>
    <td class="center">_____________________</td>
    <td class="center">_____________________</td>
    <td class="center">_____________________</td>
  </tr>
  <tr>
    <td class="center">(Name)</td>
    <td class="center">(Name & Stamp)</td>
    <td class="center">(Name & Stamp)</td>
  </tr>
</table>

<h1><u>Approved/ Not Approved</u></h1>
